html{
    --main-header-color:#5e5d5899;
    --main-logo-bg-color:#18CFAB;
    --white:#fff;
    --logo-item-color:#fff;
    --logo-text-color:#d25555;
    --header-menu-element-color:#fff;
    --header-menu-element-hover-color:#18CFAB;
    --light-green-color:#18CFAB;
    --light-blue-color:#00CBF6;
    --service-item-color-dark-color:#1C2A33;
    --service-item-color-light-color:#18CFAB;
    
}
body{
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
}
.paralax{
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.btn {
    width: 166px;
    height: 61px;
    border-color: transparent;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 13px;
    box-shadow: 0px -3px 0px 0px var(--white);
    text-transform: uppercase;
    color: var(--white);
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
}

.section-title{
    padding: 85px 0 24px 0;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
}


.wrap-container {
    width: 1160px;
    margin: 0 auto;

}

.hide{
    display: none;
}
.services-list-title.active{
    background-color: var(--light-green-color);
    color: var(--white);
    border: none;
}
.third_home-our-work-item.active{
    border-color: var(--light-green-color);
}

.flex-column-center{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.flex{
    display: flex;
}