/* fixed */
@import "colors.css";

html {
    scroll-behavior: smooth;
    font-family: Montserrat;
}



.main-header {
    background: var(--main-header-color);
    min-width: 100%;
    position: absolute;
}

.main-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;


    box-sizing: border-box;
}

.header-logo {
    display: flex;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.logo-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 35px;
    background: var(--main-logo-bg-color);
    position: relative;
}

.logo-bg:before,
.logo-bg:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--main-logo-bg-color);
    top: 0;
    left: 0;
}

.logo-bg:before {
    transform: rotate(60deg);
}

.logo-bg:after {
    transform: rotate(-60deg);
}

.logo-item {
    font-size: 40px;
    color: var(--logo-item-color);
    position: relative;
    z-index: 50;
    font-weight: 600;
}

.logo-text {
    color: var(--white);
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    margin-left: 5px;
}

p.logo-text>span {
    color: var(--light-green-color);
    font-size: inherit;
    font-weight: 700;
    line-height: inherit;
}

.header-menu-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.header-menu-element {
    display: flex;
    align-items: center;
    padding: 0 20px 0 16px;
    color: rgba(255, 255, 255, 0.60);
    height: 100%;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
}

.header-menu-element::after {
    content: '';
}

.header-menu-element:hover::after {
    content: '';
    width: calc(100% - 36px);
    border-bottom: 2px solid var(--header-menu-element-hover-color);
    position: absolute;
    bottom: 0;
}

.header-menu-element:hover {
    color: var(--header-menu-element-hover-color);
    fill: var(--header-menu-element-hover-color);
}

.menu-element-link {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
}


.main-content {}

.first_home {
    padding: 380px 0 0 0;
    text-align: center;
    background: url("../img/sections_background/section-1\(header\).jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}

.main-content-banner {}

.wrap-container {}

.content-banner {
    font-style: normal;
    color: var(--white);
    margin-bottom: 22px;
}

.firstSlogan {
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
}

.firstSlogan>span {
    color: var(--light-green-color);
}

.secondSlogan {
    font-size: 78px;
    font-weight: 700;
    text-transform: uppercase;
}

.thirdSlogan {
    font-size: 34px;
    font-weight: 400;
    margin-bottom: 135px;
    color: #D4D4D4;
}

.content-banner-buttons {}

.explore-now {
    background-color: var(--light-green-color);
}

.purchase-now {
    background-color: var(--light-blue-color);
}

.first-home-services {
    display: flex;
    margin-top: 241px;
}

.home-services-item:nth-child(odd) {
    background-color: var(--service-item-color-dark-color);
    fill: var(--white);
    color: var(--light-green-color);
}

.home-services-item:nth-child(even) {
    background-color: var(--service-item-color-light-color);
    fill: var(--white);
    color: var(--white);
}

.home-services-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 25%;
    height: 377px;
    justify-content: space-between;
    padding-top: 87px;

}

.services-icon {
    fill: var(--light-green-color)
}

.services-item-title {
    padding-top: 48px;
    text-transform: uppercase;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding-bottom: 110px;


}

/* SECOND HOME SECTION*/
.second_home {}

.second_home-our-services {}

.second_home-our-services-title {
    /* padding: 85px 0 24px 0;
    font-size: 36px;
    font-style: normal;
    font-weight: 400; */

}

.section-title+svg {
    padding-bottom: 67px;
}

.second_home-our-services-list {
    /* border: 1px solid #cbc5c5; */
    width: 100%;
    height: 76px;
}

.services-list-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 16%;
    /* border: 1px solid #cbc5c5; */
    position: relative;
    gap: 1px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    color: #717171;
    box-sizing: border-box;
    background-color: #fbf9f9;
}

.services-list-title:nth-child(6) {
    /* border-right: 1px solid #cbc5c5; */
}

.services-list-title:hover {
    border: 1px solid #363B3E;
}

.services-list-title:not(:hover):not(.active) {
    border: 1px solid #d0d8dc;
}

.services-list-title.active::after {
    content: '';
    width: 20px;
    height: 20px;
    background-color: var(--light-green-color);
    rotate: 45deg;
    position: absolute;
    bottom: -25px;
    transform: translate(-50%, -50%);

}
.services-list-title.active:hover::after{
    border-bottom: 1px solid #363B3E;
    border-right: 1px solid #363B3E;
    bottom: -27px;
}

.services-list-items-tabs {
    margin: 25px 0 90px 0;
}

.services-list-tab {
    column-gap: 10px;

}

.services-list-item-image {
    width: 195px;
}

.services-list-item-text {
    color: #777;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;

}

.second_home-banners {
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(../img/sections_background/section-2.jpg);
    width: 100%;
    height: 476px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding: 127px 0 0 0;
    box-sizing: border-box;

}

.second_home-banner {}

.title1 {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    color: var(--light-green-color);
    /* padding-top: 126px; */
    text-transform: uppercase;

}

.title2 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: var(--white);
    padding-top: 12px;
    line-height: 40px;
}

.purchase-now-green {
    background-color: var(--light-green-color);
    margin-top: 67px;
}

.third_home {
    background: #E9EDEF;
}

.third_home-our-work-title {}

.third_home-our-work-list {
    border: 0.5px solid #d0d8dc;
    box-sizing: border-box;
    margin-bottom: 71px;
}

.third_home-our-work-item {
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    color: #717171;
    min-width: 80px;
    padding: 13px 15px 14px;
    box-sizing: border-box;
    border: 1px solid #d0d8dc;
}

.third_home-our-work-portfolio {}

.portfolio-item {}

.portfolio-image {}

.load-more {
    background-color: var(--light-green-color);
    margin: 80px 0 107px 0;
}
.load-more.btn.hide{
    background-color: transparent;
    border: 0;
    color: transparent;
    box-shadow: none;
    display: block;
    
}



.four_home {}

.four_home-news-title {}

.four_home-news-cards {}

.third_home {}

.flex-column-center {}

.third_home-our-work-title {}

.third_home-our-work-list {}

.third_home-our-work-item {}

.third_home-our-work-portfolio {}

.portfolio-item {}

.portfolio-image {}

.load-more {}



.four_home {}

.four_home-news-title {}

.four_home-news-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
    column-gap: 30px;
    row-gap: 45px;
    align-items: center;
    margin-bottom: 125px;

}


.our_home-news-card {
    /* flex:1 1 25%; */
    position: relative;

}

.our_home-news-card-date {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #203E38;
    width: 70px;
    height: 70px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    color: var(--white);
    top: 0;
    right: 0;

}

.our_home-news-card-image {
    width: 263px;

}

.our_home-news-card-news-title {
    padding-left: 10px;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 39px;
    color: #717171;

}

.our_home-news-card-details {
    display: flex;
    padding-left: 10px;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 39px;
    ;
}

/*FIVE HOME SECTION*/

.five_home {
    background: url(../img/sections_background/section-3.jpg);
    background-position: center;
    background-size: cover;
    height: 853px;

}

.five_home-title {
    color: var(--white);
}

.five_home-description {
    color: #BBB;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    padding: 37px 0;

}

.five_home-people-gallery {}

.person-gallery-name {
    color: var(--light-green-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    text-transform: uppercase;
}

.person-gallery-position {
    color: #BBB;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 27px;

}

.person-gallery-image {
    margin-top: 50px;
    width: 143px;
    height: 143px;
    border-radius: 50%;
    border: 15px solid rgba(31, 218, 181, 0.2);
}

.person-gallery-slider {}